# build output
dist/
.output/

# dependencies
node_modules/

# environment variables
.env
.env.production
.env.local

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# editor
.vscode/
.idea/
*.swp
*.swo

# Astro
.astro/